<%content_for :head do%>
  <style>#canvas { float:left; }</style>
<%end%>

<script>
<%content_for :global do%>
  require("objects/renderable");

  var colorBuffer, vertexBuffer;
  var camera = new Camera();
  var tri = new Renderable(function(vertices, colors) {
    vertices.push(0,1,-1);
    vertices.push(-1,-1,-1);
    vertices.push(1,-1,-1);
    
    colors.push(1,0,0,1);
    colors.push(0,1,0,1);
    colors.push(0,0,1,1);
  });
  var rotation = [0,0,0], translation = [0,0,0];

  function updateKeyboardInput()
  {
    var rotation = [0,0,0];
    var translation = [0,0,0];
    var movement_speed = 1.5; // in GL units per second
    var rotation_speed = 0.5;
    var strafing_speed = 1.0;
    
    movement_speed *= 0.15; // because that's the delay between frames (via setInterval, above)
    rotation_speed *= 0.15; // in an offline app we'd calculate time elapsed between frames.
    strafing_speed *= 0.15;
    
    if (currentlyPressedKeys[37]) rotation[1] -= rotation_speed; // arrow left
    if (currentlyPressedKeys[39]) rotation[1] += rotation_speed; // arrow right
    if (currentlyPressedKeys[38]) rotation[0] += rotation_speed; // arrow up
    if (currentlyPressedKeys[40]) rotation[0] -= rotation_speed; // arrow down
    if (currentlyPressedKeys[87]) translation[2] += 1; // W
    if (currentlyPressedKeys[83]) translation[2] -= 1; // S
    if (currentlyPressedKeys[65]) translation[0] -= 1; // A
    if (currentlyPressedKeys[68]) translation[0] += 1; // D
    
    if (translation[2] != 0) camera.move(translation[2]*movement_speed);
    if (translation[0] != 0) camera.strafe(translation[0]*strafing_speed);
    if (rotation.magnitude() > 0) camera.rotateView(rotation);
  }
<%end%>

<%content_for :init do%>
  camera.translateTo(0,0,5);
  camera.lookAt(0,0,0);
  setInterval(updateKeyboardInput, 15);
  tri.shader = shaders['color_without_texture'];
<%end%>

<%content_for :render do%>
  try {
    camera.look(gl);
          
    var pos = camera.getPosition(), view = camera.getView(), up = camera.getUp(), right = camera.getRight();
    var debug = document.getElementById('debug');
    debug.innerHTML = "Position: "+pos.toSource()+"<br/>" +
                      "View: "+view.toSource()+"<br/>" +
                      "Up: "+up.toSource()+"<br/>" +
                      "Right: "+right.toSource()+"<br/>" +
                      "Magnitude: "+pos.magnitude();
  } catch(e) { alert(e+"\n\n"+e.stack); }

  tri.render();
<%end%>
</script>

<div id="debug">
</div>
