<script>
</script>

<p>This action tests instantiating multiple identical Creature objects. The objects all share the same mesh and animation
data, so the memory footprint is <em>expected</em> to be relatively small. The Creatures are also expected to operate
independently of each other. This includes not only position and orientation, but also animation state. That is, each
object should be capable of running different animation sequences, as well as being capable of running different frame
indexes of the same animation sequence.</p>
<p>The Creatures in this demo are actually instantiated via the controller, using Ruby code. This is a major milestone
in producing a Rails-based WebGL framework.</p>