<script>
  <%content_for :global do%>
    var height_map;
    var camera = new Camera();
  <%end%>
  
  <%content_for :init do%>
    height_map = new HeightMap($('heightmap'), {magnitude:5});

    world.camera.translateTo(25, 55, 70);
    world.camera.lookAt(25, 0, 35);
    world.addObject(height_map);
  <%end%>
  
  <%content_for :canvas_clicked do%>
    $("heightmap").onload = function() {
      logger.attempt("image onload", function() {
        height_map.image = $('heightmap');
        height_map.scale = 0.75;
        world.camera.move(-15);
        world.camera.strafe(10);
        // forces a rebuild of the height map on the next render
        height_map.invalidate();
      });
    };
    $('heightmap').src = '/images/colloquy.png';
  <%end%>
        
  <%content_for :render do %>
    height_map.render_octree = $("show-octree").checked;
    world.render(WIREFRAME);
  <%end%>
</script>

<br/>
Height Map:<br/>
<img id="heightmap" src="/images/rails.png" alt="" /><br/>
<br/>
<p>
  <input type="checkbox" id="show-octree" /> Show Octree
</p>
<p>
  This height map was built dynamically using the image above. Click on the height map canvas to switch to a new image.
</p>
