<%content_for :style do%>
  #canvas { display: none; }
<%end%>

<ul>
<%(controller.class.action_methods.sort - ['index']).each do |action|%>
  <li><%=link_to action, :action => action%></li>
<%end%>
</ul>
