<script>
  <%content_for :global do%>
    var particles;
  <%end%>
  
  <%content_for :init do%>
    particles = new ParticleGenerator();
    world.addObject(particles);
    world.camera.translateTo(0,0,14);
  <%end%>
  
  <%content_for :render do%>
    if (mouse && mouse.x && mouse.y)
    {
      var x = mouse.x / $('canvas').width;
      var y = mouse.y / $('canvas').height;
      x -= 0.5;
      y -= 0.5;
      x *= 10;
      y *= 10;
      
      particles.options.destination[0] = x;
      particles.options.destination[1] = -y;
    }
    world.render();
  <%end%>
</script>
<p>This test demonstrates a really, really primitive particle generator. It needs a lot more work before it can
be considered usable in any sense, and I just haven't gotten around to putting the necessary effort into it. But,
it shows that it isn't too hard to pull off, and that it's certainly viable to have lots of moving objects in a
scene at once.</p>
<p>There is currently a framerate issue. I think this is because my particle code creates a lot of dynamic temporary
objects, so it's the garbage collection of these objects that is slowing it down. With some optimization, I believe
the framerate can be kept quite acceptable.</p>
