<script>
  <%content_for :init do%>
    logger.level = Logger.DEBUG;
  
    <%objects.each do |object|%>
      world.addObject(<%=object.to_js%>);
    <%end%>
  
    world.camera.translateTo(0,0,10);
  <%end%>
          
  <%content_for :render do%>
    world.render();
  <%end%>
</script>

<%content_for :head do%>
  <style>#canvas { float: left; }</style>
<%end%>

<p>This test demonstrates objects which have been instantiated using the corresponding Ruby code. The view for this
test shows how a template would go about setting up a generic World, while the initialization that would normally be
done by the developer in a framework environment is contained within the controller action code.</p>
<p>Please note that this test is a work in progress and is currently in a very primitive state. I intend to put a lot
of work into this demo in the future, and eventually I'd like to use it to produce a Rails-based WebGL framework. But
there's a lot of JavaScript code that has to be in place before I can jump up to the higher-level Ruby generators...</p>